@import "tailwindcss";
.dropdown-item {
  @apply block px-4 py-2 hover:bg-gray-100 hover:text-green-500 transition;
}
body {
  margin: 0;
  font-family:
    "Plus Jakarta Sans",
    system-ui,
    -apple-system,
    sans-serif;
  overflow-x: hidden;

}
/* circle label inside */
.circle {
  position: relative;
  width: 170px;
  height: 160px;
}

.circle-label {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #222e50;
  font-weight: 500;
}

/* 🎉 ELIGIBLE STATE (>=65) */
.score-panel.eligible .circle-label {
  color: #16a34a;
  font-weight: 600;
}

.calendly-overlay {
  overflow: hidden !important;
}

.calendly-popup-content {
  height: 90vh !important;
}